<div class="search">
  <form class="searchForm" novalidate (submit)='sendRequest(keyword)'>

    <div  class="select-wrapper">
      <div class="select" (click)='selectorOfTypes.toggleListView(typesList)'>
        {{selectorOfTypes.getSelectedValue()}}
      </div>
      <ul class="options hidden" #typesList>
        <li *ngFor='let type of selectorOfTypes.getDataArray()' 
            (click)='selectorOfTypes.selectItem(type, typesList)'>{{type}}</li>
      </ul>
    </div>

    <div  class="select-wrapper">
      <div class="select" (click)='selectorOfLanguages.toggleListView(list)'>{{selectorOfLanguages.getSelectedValue()}}</div>
      <ul class="options hidden" #list>
        <li *ngFor='let language of selectorOfLanguages.getDataArray()'
            (click)='selectorOfLanguages.selectItem(language, list)'>{{language}}</li>
      </ul>
    </div>
    <div class="searchFrom__keywords">
      <span [style.color]='getValidation(keyword)'>Type here for search</span>
      <input type="text" required
      id="keywords" name="keywords" #keyword='ngModel' [(ngModel)]='keywords'
      [style.borderColor]='getValidation(keyword)'>
    </div>
    <button type="submit">search</button>
  </form>

  <app-repository-display [data] = 'repository'></app-repository-display>

  <div class="repositories-not-found" *ngIf='!isResultFound()'>
    <h1>NO RESULTS FOUND</h1>
    <p>select other parameters and try again</p>
  </div>
  
</div>